<div class="getway-wrapper">
  <div class="page-title"> Sign up</div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, class: 'form-control', autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
    </div>

    <div class="btn-block">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>

<div class="switch-screen">
  Already have an Account
   <%= render "devise/shared/links" %>
</div>
