  .addTask {
    display: inline-flex;
    cursor: pointer;
    margin-right: 4%;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 5in;
    justify-content: flex-end;
  }
  
  .formField {
    font-size: 18px;
    color: rgb(121, 117, 117);
    margin-bottom: 20px;
    
  }
  
  .formContainer {
    width: 450px;
    margin: 0 auto;
    padding: 35px 0;
  }
  
  .inputText {
    font-size: 16px;
    margin-bottom: 30px;
    outline: 0;
    width: 100%;
    border-width: 0 0 2px;
    border-color: rgb(202, 202, 202);
  }
  .inputText:focus {
    transition: text-indent 0.4s 0.4s ease;
    border-color: #6200ed;
  }
  
  .addButton {
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    justify-content: space-around;
    text-decoration: none;
    background-color: #6200ed;
    color: white;
    font-size: 2vh;
  }
  
  .buttonContainer {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
  }  
  
  
  .text {
    overflow-wrap: break-word;
  }
  
  @media screen and (max-width: 780px) {
    .formContainer {
      width: 90vw;
    }
    .taskContainer {
      width: 80%;
    }
  }
  