  .taskListSection {
    padding-left: 3px;
    float: left;
    letter-spacing: -0.07px;
    color: #00112C;
    padding-top: 3px;
    line-height: 18px;
    letter-spacing: 0.0125em;
    margin-bottom: 0;
    text-align: left;
    flex-grow: 3;
  }

  .profileImage{
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
  }
  
  .taskHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;  
    margin-bottom: 0;
    letter-spacing: -0.08px;
    color: #00112c;
    padding: 6px 15px 6px 10px;
  }  
  
  .listSpan {
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.0125em;
    text-align: left;
    letter-spacing: -0.06px;
    opacity: 1;
    color: gray;
  }
  .checkBoxContainer {
    width: auto;
  }
  .checkBox {
    width: 30px;
    height: 30px;
  }

  .checkBox:checked{
    background: #ff9900 !important;
  }

  .allTasklist {
    display: inline-block;
    padding-right: 0;
    border-bottom: 1px solid #DDDDDD;    
  }
