  .container {
    display: flex;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding-bottom: 10px;
    overflow: auto;
  }
  
  .pageHeader {
    background: #6600ed;
    padding: 10px 16px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logoutSwitch a {
    color: #fff;
    padding: 6px 11px;
    border-radius: 6px;
    border: 1px solid #fff;
  }

  .logoutSwitch {
    margin-left: 20px;
  }
  
  .rootWrapper {    
    right: 0;    
  }

  .addTask {
    cursor: pointer;
    display: inline-flex;
    color: white;
    font-size: 24px;
    align-items: center;
    justify-content: flex-end;
    line-height: 24px;
  }

  .addTask img {
    width: 30px;
    height: 30px;
  }
  
  .taskDescription {
    display: inline-flex;
    font-size: 20px;
    color: #fff;
    height: 100%;
    align-items: center;
    padding-left: 10px;
    justify-content: flex-end;
  }
  