<div class="getway-wrapper">
  <div class="page-title">Forgot your password?</div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="btn-block">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>
</div>

<div class="switch-screen">
  Already have an Account
  <%= render "devise/shared/links" %>
</div>
