<div class="getway-wrapper">
  <div class="page-title">Log in</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="btn-block">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <div class="forgot-pw">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<div class="switch-screen">
  Don't have an Account?
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name) %><br />
  <% end %>
</div>
