.custom-navbar {
  background: #6200ed !important;
}
.custom-navbar .navbar-brand {
  color: #fff;
  font-weight: 600;
}
.custom-navbar .nav-item .nav-link {
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 23px;
  display: inline-block;
  border-radius: 4px;
}

.getway-wrapper {
  max-width: 525px;
  padding: 25px 25px;
  border: 1px solid #ededed;
  border-radius: 10px;
  margin: 0 auto;
}

.page-title {
    text-align: center;
    font-size: 30px;
    color: #333;
    font-weight: 500;
    margin-bottom: 30px;
}


.getway-wrapper .form-group .form-control,
.getway-wrapper .form-group .form-control:focus {
  border:1px solid #cccc;
  box-shadow: none;
  height: 45px;
}

.btn-block input[type="submit"] {
  width: 100%;
  padding: 7px;
  border-radius: 6px;
  border: none;
  background: #6200ed;
  color: #fff;
  cursor: pointer;
}

.forgot-pw {
  text-align: right;
}

.forgot-pw a {
    display: inline-block;
    color: #777;
    text-align: right;
    margin: 15px 0;
}

.switch-screen {
  text-align: center;
  margin: 30px 0;
  display: block;
}
.switch-screen a {
  color: #6200ed;
}
